.container {
    height: 100vh;
}

.carousel-container {
    position: relative;
}

img {
    width: 60rem;
    height: 40rem;
    object-fit: cover;
    display: none;
}

.active {
    display: block;
}

#nextBtn {
    position: absolute;
    right: 0em;
}

#prevBtn {
    position: absolute;
    left: 0em;
}